*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,html{
  background-color:  #fff;
  height: 100%;
}
.header{
  background: #555555; 
  color: #f1f1f1;
  font-size: 2rem;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container {
  height: 100%;
  background-image: url("./imgs/4.jpg");
  background-position: center;
  background-size: cover;
  background-size: 100%;
   /* Full height */
  width: 100%;
  background-repeat: no-repeat;
  padding-top: 25px;
  overflow: auto;
}

.sticky{
  top: 0;
  /* position: fixed; */
}

.filter_button,.submit_button{
  background-color: #f1f1f1;
  border: none;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}
.filter_button:hover{
  border: none;
  background-color: #dee0de;
}
.filter_button:active{
  border: none;
  background-color: #cccccc;
}
.filter_button:focus{
  border: none;
}
a{
  text-decoration: none;
}
.one_grid{
  background-color:#92f0e2;
  padding: 10px;
  /* width: fit-content; */
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1%;

}
.grids{
  padding: 2%;
  /* margin-top: 70px; */
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: flex-start;
  flex-wrap: wrap; */
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) );
  /* background-color: #fb0; */
}
/* .sidepanel{
  height: 100%;
  width: 100%;
  z-index: 1;
  position: fixed;
  background-color: #d7d9d7;
  overflow-x: hidden;
  float: right;
  padding: 2% 0;
  transition: 1s;
  display: flex;
  flex-direction: column;
  max-width: 600px;
} */

.formUpperPart{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100%;
  /* background-color: brown; */
}
.filter_form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  /* max-width: 100px; */
  /* background-color: blueviolet; */
}
.submit_button{
  background-color:white;
  border: none;
  margin-top: 2.5em;
  width: 50%;
  color: #002651;
  /* padding: 1% 0; */
  border-radius: 0.5em;
  font-size: 1.3em;
  cursor: pointer;
}
.submit_button:hover{
  background-color:#033670;
  color: white;
}
.divlocation{
  width: 100%;
  display: grid;
  grid-gap: 3%;
  grid-template-columns: 1fr 1fr 1fr;
  
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
  /* background-color: darkturquoise; */
  margin-top: 2%;
}
.outerdivlocation{
  display: flex;
  justify-content: center;
  width: 80%;
  /* background-color: brown; */
}
.location{
  background-color: #f1f1f1;
  border: black solid 1px;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
  min-width: 30%;
  padding: 0 2%;
}
.divcategory,.divmuet,.divcgpa,.divcourse{
  font-size: x-large;
  padding-top: 1%;
  display: flex;
  justify-content: space-evenly;
  /* background-color: chartreuse; */
}
.locationTitle{
  padding-top: 2%;
  font-size: x-large;
  color:  white;
}
.muetTitle,.cateTitle,.courseTitle,.cgpaTitle{
  width: 40%;
  color:  white;
  /* background-color: #fb0; */
}
.title{
  font-size: 100%;
  display: flex;
  justify-content: center;
  color:  white;
  /* padding: 2%; */
}
.noResult{
  display: flex;
  justify-content: center;
  font-size: 400%;
  width: 100%;
}
.form-container {
  /* background-color: white; */
  width: 50%;
  height: 100%;
  float: right;
  margin-right: 20px;
  /* margin: auto; */
  margin-bottom: 45px;
  /* margin-top: 80px; */
  background: #002651;
  border: 0.5px solid;
  border-radius: 1%;
  padding: 2% 0;
}
h1{
  color: #f1f1f1;
  display: flex;
  justify-content: center;
}